  <div>
    <form action="" [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Newsletter</mat-label>
        <mat-select>
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="space-around">
        <button type="button" mat-raised-button color="accent">
          Cancel <mat-icon>cancel</mat-icon>
        </button>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </div>