<mat-toolbar color="primary">
  <mat-icon (click)="myDrawer.toggle()"> menu_book </mat-icon>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #myDrawer>
    <mat-list>
      <mat-list-item [routerLink]="['/']">Register</mat-list-item>
      <mat-list-item [routerLink]="['/upload']">Upload</mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="full-height">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
